<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista di Card</title>
    <link rel="icon" sizes="48x48" href="/icona_pokedecks.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <style>
        .card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
        }
        .selected {
            font-weight: bold;
        }
        .ellipsis {
            cursor: pointer;
            font-weight: bold;
        }
        .card {
            border: 1px solid #ccc;
            border-radius: 8px;
            width: 130px;
            box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
        }
        .card img {
            width: 100%;
            height: auto;
            border-bottom: 1px solid #ccc;
            border-radius: 8px 8px 0 0;
            transition: transform 0.3s ease;
            
        }
        .card:hover{
        	/*position: absolute;*/
        	transform:scale(1.7);
        	z-index:8;
        	.card-buttons, .quantity-box {
	        	display: flex;               
			    gap: 15px;                   
			    z-index: 10;
        	}
        	
        }
        .card-buttons {
            display: none;
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            
        }
        .quantity-box{
        	display: none;
        	padding-left: 10px;
        	padding-right: 10px;
        	border: 1px solid black;
        	border-radius: 10px; 
        	background-color: white;
        	color: black;
        	cursor: pointer;             
		    opacity: 0;                 
		    transition: opacity 0.4s ease;
        }
       
		.card-buttons button {
		    font-size: 16px;             
		    color: white;            
		    border-radius: 50%;          
		    cursor: pointer;             
		    opacity: 0;                 
		    transition: opacity 0.4s ease; 
		}
		
		.card:hover .card-buttons button, .quantity-box {
		    opacity: 0.5;                
		}
		.card .card-buttons button:hover, .quantity-box:hover {
		    opacity: 1;                  
		}
        .pagination a {
            margin: 0 5px;
            background-color:grey;
            color: white;
            text-decoration: none;
            padding: 5px 10px;
            border-radius: 5px;
        }
        .pagination a.current {
            font-weight: bold;
            background-color: #eee;
        }
        .filter-menu {
            display: none;
            z-index: 1000;
            border: 1px solid #ccc;
            padding: 10px;
            background-color: #f9f9f9;
            border-radius: 5px;
            margin-top: 10px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        }
        .filter-menu.active {
        	display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
        .filter-button {
            cursor: pointer;
            padding: 10px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            margin-left: 30px;
        }
        nav{
            position: sticky;
            top: 0px;
        	background-color:red;
        }
        h1{
            margin-left: -10px;
            text-align: center;
            padding-top: 100px;
        }
        .owned{
        	margin-top: 20px;
            margin-left: 10px;
        }
        .swal2-popup {
            width: 250px !important;
            height: auto;
            font-size: 14px;
        }
        .bandiera {
		  width: 25px;
		  height: 25px;
		  margin-right: 10px;
		}
		.gray-filter {
    	filter: grayscale(100%);
    	opacity: 0.5;
		}

		
    </style>
</head>
<body>
	<!-- Begin Body -->
    <!-- Begin navBar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand" href="http://localhost:8080">
            <img src="/logo.png" alt="Logo" width="150" height="50" class="d-inline-block align-text-top"> 
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="http://localhost:8080/cards" data-translate="tasto-navbar-carte"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/decks" data-translate="tasto-navbar-mazzi"></a>
                </li>
                <li>
                    	<a class="nav-link" href="http://localhost:8080/profile" data-translate="tasto-navbar-profilo"></a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8080/deckRules" data-translate="tasto-navbar-regolamento"></a>
                </li>  
                <li class="nav-item">
                     <a class="nav-link" href="http://localhost:8080/classification"  data-translate="tasto-navbar-classifica">Classifica</a>
                </li>
                
                <li class="nav-item">
                        <a class="nav-link" th:if="${session.role != null && session.role.contains('ROLE_ADMIN')}" href="http://localhost:8080/admin/formStat" data-translate="tasto-navbar-statistiche"></a>
                 </li>              
            </ul>
            <div class="ms-auto d-flex align-items-center">

                <a id="userGreeting" class="nav-link" href="http://localhost:8080/profile" style="margin-right: 15px;">
			        <!-- Italian Greeting -->
			        <span data-lang="it" th:text="'Benvenuto, ' + ${session.name}" style="display: none;"></span>
			        <!-- English Greeting -->
			        <span data-lang="en" th:text="'Welcome, ' + ${session.name}" style="display: none;"></span>
			        <!-- Spanish Greeting -->
			        <span data-lang="es" th:text="'Bienvenido, ' + ${session.name}" style="display: none;"></span>
			    </a>
                <a href="http://localhost:8080/logout" class="btn btn-outline-danger" style="transition: background-color 0.3s, color 0.3s;" data-translate="tasto-navbar-logout"></a>
            
            </div>
        </div>
    </div>
</nav>
<!-- Language Dropdown Outside Navbar -->
<div class="language-dropdown" style="position: absolute; top: 120px; right: 0px;">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <span data-translate="menuLingua">Language</span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="languageDropdown">
            <li><a class="dropdown-item" href="javascript:void(0);" onclick="changeLanguage('it')" ><img src="/image/bandiera-italia.png" alt="Italiano" class="bandiera"> Italiano</a></li>
            <li><a class="dropdown-item" href="javascript:void(0);" onclick="changeLanguage('en')" ><img src="/image/bandiera-uk.png" alt="English" class="bandiera"> English</a></li>
            <li><a class="dropdown-item" href="javascript:void(0);" onclick="changeLanguage('es')" ><img src="/image/bandiera-spagna.png" alt="Español" class="bandiera"> Español</a></li>
        </ul>
    </div>
</div>
<!-- End navBar -->

    <div class="row"><h1 data-translate="elenco-carte"></h1></div>
    <div>
	    <!-- Check if the user is viewing their own collection -->
	    <br>
	    <h5 class="text-center" th:if="${from == 'myCollection'}">
	    	<span data-translate="totale-carte"></span><strong th:text="${totalCards}"></strong>
	    </h5>
	</div>
    <div class="row my-5">

        <div class="col-2"></div>
        <div class="col">
         <form action="/cards" method="GET">
    		<input type="hidden" name="grayFilter" th:value="${grayFilter ? 'false' : 'true'}" />
   			 <button type="submit" th:text="${grayFilter ? 'Disattiva Filtro Grigio' : 'Attiva Filtro Grigio'}"></button>
		</form>

        <!-- Button to open the filter menu -->
        <button class="filter-button btn btn-primary" onclick="toggleFilterMenu()" data-translate="filtra"></button>
	
    	<!-- Dropdown menu for filtering and sorting -->
        <div id="filterMenu" class="filter-menu">
            <form id="filter" th:action="@{/cards}" method="get" class="row g-3">
                <input type="hidden" name="from" th:value="${param.from}">
                <div class="col-md-2">
                    <div class="form-check" id="owned-filter">
                        <input class="btn-check" type="checkbox" id="owned" name="owned" autocomplete="off">
                        <label for="owned" class="btn btn-outline-success owned">Owned</label>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-4 d-flex align-items-end">
                    <!-- Select for sorting -->
                    <div > <!-- Adds space only to the right of the select -->
                        <label for="sort" class="form-label">Order:</label>
                        <select id="sort" name="sort" class="form-select">
                            <option value="name">Name</option>
                            <option value="nationalPokedexNumbers">Pokedex n.</option>
                            <option value="level">Level</option>
                        </select>
                    </div>
                   
                    
                    <!-- Checkbox as a button for "desc" -->
                    <div class="form-check">
                        <input class="btn-check" type="checkbox" id="desc" name="desc" autocomplete="off">
                        <label class="btn btn-outline-primary" for="desc"><i class="bi bi-sort-up"></i></label>
                    </div>
                </div>
                
               

            <!-- Name filter -->
            <div class="col-md-3">
                <label for="name" class="form-label">Name:</label>
                <input type="text" class="form-control" id="name" name="name" th:value="${param.name}">
            </div>

            <!-- Set filter -->
            <div class="col-md-2">
                <label for="set" class="form-label">Set:</label>
                <input type="text" class="form-control" id="set" name="set" th:value="${param.set}">
            </div>

            <!-- Types filters -->
            <div class="col-md-2">
                <label for="types1" class="form-label">Choose a type:</label>
                <select name="types1" id="types1" class="form-select" th:value="${param.types1}">
                    <option value=""></option>
                    <option value="Colorless">Colorless</option>
                    <option value="Grass">Grass</option>
                    <option value="Fire">Fire</option>
                    <option value="Water">Water</option>
                    <option value="Lightning">Lightning</option>
                    <option value="Fighting">Fighting</option>
                    <option value="Psychic">Psychic</option>
                    <option value="Darkness">Darkness</option>
                    <option value="Metal">Metal</option>
                    <option value="Dragon">Dragon</option>
                    <option value="Fairy">Fairy</option>
                </select>
            </div>

            <div class="col-md-2">
                <label for="types2" class="form-label">Secondary type:</label>
                <select name="types2" id="types2" class="form-select" th:value="${param.types2}">
                    <option value=""></option>
                    <option value="Colorless">Colorless</option>
                    <option value="Grass">Grass</option>
                    <option value="Fire">Fire</option>
                    <option value="Water">Water</option>
                    <option value="Lightning">Lightning</option>
                    <option value="Fighting">Fighting</option>
                    <option value="Psychic">Psychic</option>
                    <option value="Darkness">Darkness</option>
                    <option value="Metal">Metal</option>
                    <option value="Dragon">Dragon</option>
                    <option value="Fairy">Fairy</option>
                </select>
                <input type="hidden" name="types" id="types" th:value="${param.types}">
            </div>

            <!-- Other filters like rarity, supertype, subtypes -->
            <div class="col-md-2">
                <label for="rarity" class="form-label">Rarity:</label>
                <select id="rarity" name="rarity" class="form-select" th:value="${param.rarity}">
                    <option value=""></option>
                    <option value="Classic Collection">Classic Collection</option>
                        <option value="Common">Common</option>
                        <option value="LEGEND">LEGEND</option>
                        <option value="Promo">Promo</option>
                        <option value="Rare">Rare</option>
                        <option value="Rare ACE">Rare ACE</option>
                        <option value="Rare Holo">Rare Holo</option>
                        <option value="Rare Holo EX">Rare Holo EX</option>
                        <option value="Rare Holo GX">Rare Holo GX</option>
                        <option value="Rare Holo LV.X">Rare Holo LV.X</option>
                        <option value="Rare Holo Star">Rare Holo Star</option>
                        <option value="Rare Holo V">Rare Holo V</option>
                        <option value="Rare Holo VMAX">Rare Holo VMAX</option>
                        <option value="Rare Holo VSTAR">Rare Holo VSTAR</option>
                        <option value="Rare Prime">Rare Prime</option>
                        <option value="Rare Rainbow">Rare Rainbow</option>
                        <option value="Rare Secret">Rare Secret</option>
                        <option value="Rare Shining">Rare Shining</option>
                        <option value="Rare Shiny">Rare Shiny</option>
                        <option value="Rare Shiny GX">Rare Shiny GX</option>
                        <option value="Rare Ultra">Rare Ultra</option>
                        <option value="Rare Prism Star">Rare Prism Star</option>
                        <option value="Uncommon">Uncommon</option>
                    
                </select>
            </div>

            <div class="col-md-2">
                <label for="supertype" class="form-label">Supertype:</label>
                <select id="supertype" name="supertype" class="form-select" th:value="${param.supertype}">
                    <option value=""></option>
                    <option value="Pokémon">Pokémon</option>
                    <option value="Trainer">Trainer</option>
                    <option value="Energy">Energy</option>
                </select>
            </div>

            <div class="col-md-2">
                <label for="subtypes" class="form-label">Subtypes:</label>
                <select id="subtypes" name="subtypes" class="form-select" th:value="${param.subtypes}">
                    <option value=""></option>
                    <option value="Basic">Basic</option>
                    <option value="Stage 1">Stage 1</option>
                    <option value="Stage 2">Stage 2</option>
                    <option value="Baby">Baby</option>
                    <option value="Item">Item</option>
                    <option value="Special">Special</option>
                </select>
            </div>

            <!-- Buttons -->
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Applica</button>
                <button type="button" onclick="resetFilters()" class="btn btn-secondary">Reset</button>
            </div>
        </form>
    </div>
</div>

<div class="col-2" ></div>
</div>

	<!-- Pagination -->
	<div th:if="${!#lists.isEmpty(cards)}" class="d-flex justify-content-center my-3">


     <!-- First page -->
    <a th:if="${currentPage > 1}" 

       th:href="@{/cards(page=1, blocco=1, set=${param.set}, types=${param.types}, name=${param.name}, rarity=${param.rarity}, supertype=${param.supertype}, subtypes=${param.subtypes}, sort=${param.sort}, desc=${param.desc}, owned=${param.owned}, from=${param.from}, page=${param.page})}" 
       class="btn btn-outline-primary mx-1" data-translate="tasto-prima-pag"></a>


    <!-- Previous -->
    <a th:if="${currentPage > 1}" 
       th:href="@{/cards(page=${currentPage - 1},blocco=${(currentPage - 1) % bloccoDimensione == 0 ? bloccoCorrente - 1 : bloccoCorrente}, set=${param.set}, types=${param.types}, name=${param.name}, rarity=${param.rarity}, supertype=${param.supertype}, subtypes=${param.subtypes}, sort=${param.sort}, desc=${param.desc}, owned=${param.owned}, from=${param.from})}" 
       class="btn btn-outline-primary mx-1" data-translate="tasto-precedente-pag"></a>

    <!-- Ellissi for previous pages -->
    <span th:if="${inizioPagina > 1}"> 
        <a class="btn btn-outline-primary mx-1" th:href="@{/cards(page=${currentPage}, blocco=${bloccoCorrente - 1}, set=${param.set}, types=${param.types}, name=${param.name}, rarity=${param.rarity}, supertype=${param.supertype}, subtypes=${param.subtypes}, sort=${param.sort}, desc=${param.desc}, owned=${param.owned}, from=${param.from})}">...</a>
    </span>

    <!-- Numbered pages -->
    <span th:each="i : ${#numbers.sequence(inizioPagina, finePagina)}">
        <a th:href="@{/cards(page=${i}, blocco=${bloccoCorrente}, set=${param.set}, types=${param.types}, name=${param.name}, rarity=${param.rarity}, supertype=${param.supertype}, subtypes=${param.subtypes}, sort=${param.sort}, desc=${param.desc}, owned=${param.owned}, from=${param.from})}" 
           th:text="${i}" 
           class="btn btn-outline-primary mx-1" 
           th:classappend="${i  == currentPage} ? 'btn-primary text-white' : ''"></a>
    </span>

    <!-- Ellissi for next pages -->
    <span th:if="${finePagina < totalPages}">
        <a class="btn btn-outline-primary mx-1" th:href="@{/cards(page=${currentPage}, blocco=${bloccoCorrente + 1}, set=${param.set}, types=${param.types}, name=${param.name}, rarity=${param.rarity}, supertype=${param.supertype}, subtypes=${param.subtypes}, sort=${param.sort}, desc=${param.desc}, owned=${param.owned}, from=${param.from})}">...</a>
    </span>

    <!-- Next -->
    <a th:if="${currentPage + 1 <= totalPages}" 
       th:href="@{/cards(page=${currentPage + 1},  blocco=${((currentPage) / bloccoDimensione) + 1}, set=${param.set}, types=${param.types}, name=${param.name}, rarity=${param.rarity}, supertype=${param.supertype}, subtypes=${param.subtypes}, sort=${param.sort}, desc=${param.desc}, owned=${param.owned}, from=${param.from})}" 
       class="btn btn-outline-primary mx-1" data-translate="tasto-successiva-pag"></a>

    <!-- Last page -->
    <a th:if="${finePagina < totalPages}" 
       th:href="@{/cards(page=${totalPages}, blocco=${(totalPages - 1) / bloccoDimensione + 1}, set=${param.set}, types=${param.types}, name=${param.name}, rarity=${param.rarity}, supertype=${param.supertype}, subtypes=${param.subtypes}, sort=${param.sort}, desc=${param.desc}, owned=${param.owned}, from=${param.from})}" 
       class="btn btn-outline-primary mx-1" data-translate="tasto-ultima-pag"></a>


</div>

  <div class="row my-5">
    <div class="col-1"></div>
    <div class="col card-container">
        <div th:if="${#lists.isEmpty(cards)}">
            <p data-translate="no-carte-trovate"></p>
        </div>

        <!-- Thymeleaf loop -->
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-1" th:each="card : ${cards}">
            <div class="card" th:classappend="${ownedCards[card.id] == null} ? 'not-owned' : ''">
                <a th:href="@{/card/{cardId}(cardId=${card.id}, 
                    owned=${param.owned}, 
                    name=${param.name}, 
                    set=${param.set}, 
                    types=${param.types}, 
                    rarity=${param.rarity}, 
                    supertype=${param.supertype}, 
                    subtypes=${param.subtypes}, 
                    sort=${param.sort}, 
                    desc=${param.desc}, 
                    page=${param.page})}">
                    <img th:src="${card.img}"  th:classappend="${grayFilter and !ownedCards.containsKey(card.id)} ? 'gray-filter'"  alt="Card Image"/>
                </a>

                <div class="card-buttons">
                    <!-- Add to collection -->
                    <button class="btn add-to-collection" th:data-card-id="${card.id}" style="background-color: green;"><i class="bi bi-plus-lg"></i></button>
                    <!-- Show quantity -->
                    <p class="quantity-box" th:data-card-id="${card.id}">0</p> 
                    <!-- Remove from collection -->
                    <button class="btn remove" th:data-card-id="${card.id}" style="background-color: red;"><i class="bi bi-dash-lg"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>

	<!-- Pagination -->
	<div th:if="${!#lists.isEmpty(cards)}" class="d-flex justify-content-center my-3"> 


     <!-- First page -->
    <a th:if="${currentPage > 1}" 
       th:href="@{/cards(page=1, blocco=1, set=${param.set}, types=${param.types}, name=${param.name}, rarity=${param.rarity}, supertype=${param.supertype}, subtypes=${param.subtypes}, sort=${param.sort}, desc=${param.desc}, owned=${param.owned}, from=${param.from})}" 
       class="btn btn-outline-primary mx-1">Prima pagina</a>

    <!-- Previous -->
    <a th:if="${currentPage > 1}" 
       th:href="@{/cards(page=${currentPage - 1},blocco=${(currentPage - 1) % bloccoDimensione == 0 ? bloccoCorrente - 1 : bloccoCorrente}, set=${param.set}, types=${param.types}, name=${param.name}, rarity=${param.rarity}, supertype=${param.supertype}, subtypes=${param.subtypes}, sort=${param.sort}, desc=${param.desc}, owned=${param.owned}, from=${param.from})}" 
       class="btn btn-outline-primary mx-1">Prec</a>

    <!-- Ellissi for previous pages -->
    <span th:if="${inizioPagina > 1}"> 
        <a class="btn btn-outline-primary mx-1" th:href="@{/cards(page=${currentPage}, blocco=${bloccoCorrente - 1}, set=${param.set}, types=${param.types}, name=${param.name}, rarity=${param.rarity}, supertype=${param.supertype}, subtypes=${param.subtypes}, sort=${param.sort}, desc=${param.desc}, owned=${param.owned}, from=${param.from})}">...</a>
    </span>

    <!-- Numbered pages -->
    <span th:each="i : ${#numbers.sequence(inizioPagina, finePagina)}">
        <a th:href="@{/cards(page=${i}, blocco=${bloccoCorrente}, set=${param.set}, types=${param.types}, name=${param.name}, rarity=${param.rarity}, supertype=${param.supertype}, subtypes=${param.subtypes}, sort=${param.sort}, desc=${param.desc}, owned=${param.owned}, from=${param.from})}" 
           th:text="${i}" 
           class="btn btn-outline-primary mx-1" 
           th:classappend="${i  == currentPage} ? 'btn-primary text-white' : ''"></a>
    </span>

    <!-- Ellissi for next pages -->
    <span th:if="${finePagina < totalPages}">
        <a class="btn btn-outline-primary mx-1" th:href="@{/cards(page=${currentPage}, blocco=${bloccoCorrente + 1}, set=${param.set}, types=${param.types}, name=${param.name}, rarity=${param.rarity}, supertype=${param.supertype}, subtypes=${param.subtypes}, sort=${param.sort}, desc=${param.desc}, owned=${param.owned}, from=${param.from})}">...</a>
    </span>

    <!-- Next -->
    <a th:if="${currentPage + 1 <= totalPages}" 
       th:href="@{/cards(page=${currentPage + 1},  blocco=${((currentPage) / bloccoDimensione) + 1}, set=${param.set}, types=${param.types}, name=${param.name}, rarity=${param.rarity}, supertype=${param.supertype}, subtypes=${param.subtypes}, sort=${param.sort}, desc=${param.desc}, owned=${param.owned}, from=${param.from})}" 
       class="btn btn-outline-primary mx-1">Succ</a>

    <!-- Last page -->
    <a th:if="${finePagina < totalPages}" 
       th:href="@{/cards(page=${totalPages}, blocco=${(totalPages - 1) / bloccoDimensione + 1}, set=${param.set}, types=${param.types}, name=${param.name}, rarity=${param.rarity}, supertype=${param.supertype}, subtypes=${param.subtypes}, sort=${param.sort}, desc=${param.desc}, owned=${param.owned}, from=${param.from})}" 
       class="btn btn-outline-primary mx-1">Ultima pagina</a>

</div>


<!-- Begin script -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
        //filtri passati alla pagina in forma di hashmap
        var name = "[[${param.name}]]";
        var set = "[[${param.set}]]";
        var supertype = "[[${param.supertype}]]";
        var subtypes = "[[${param.subtypes}]]";
        var rarity = "[[${param.rarity}]]";
        var sort = "[[${param.sort}]]";
        var desc = "[[${param.desc}]]";
        var types = "[[${param.types}]]";
        var owned = "[[${param.owned}]]";
        var page = "[[${param.page}]]";
        
        //collezione passata alla pagina in forma di stringa
        var collection = JSON.parse(ricodifica("[[${ownedCards}]]"));
        var ownedCards = Object.keys(collection);
        
        //questa funzione formatta la stringa ricevuta dal controller in modo che sia utilizzabile da javascript
        function ricodifica(input) {
            let senzaParentesi = input.slice(1, -1);
            let risultato = senzaParentesi
                .split(', ')
                .map(item => {
                    let [chiave, valore] = item.split('=');
                    return `"${chiave}":${valore}`;
                })
                .join(',');
            return `{${risultato}}`;
        }


        //i valori dei singoli filtri vengono usati per settare il default al menù, mostrando i paarmetri dell'ultima ricerca
		document.getElementById("name").value = name;
		document.getElementById("set").value = set;
		document.getElementById("supertype").value = supertype;
		document.getElementById("subtypes").value = subtypes;
		document.getElementById("rarity").value = rarity;
		document.getElementById("sort").value = sort;
		if(desc)
		    document.getElementById("desc").checked = true;
		else document.getElementById("desc").checked = false;
		if(owned)
		    document.getElementById("owned").checked = true;
		else document.getElementById("owned").checked = false;
		if(types.length > 10){
		    types= types.split(', ');
		    document.getElementById("types1").value = types[0];
		    document.getElementById("types2").value = types[1];
		}
		else document.getElementById("types1").value = types;
		
		
	    $(document).ready(function () {
	    // Configurazione per SweetAlert2 Toast
	    const Toast = Swal.mixin({
	        toast: true,
	        position: "top-end",
	        showConfirmButton: false,
	        timer: 2000,
	        timerProgressBar: true,
	        didOpen: (toast) => {
	            toast.onmouseenter = Swal.stopTimer;
	            toast.onmouseleave = Swal.resumeTimer;
	        }
	    });
	    
	    //mostra quantità della carta
	    $('.quantity-box').each(function(){
	    	var cardId = $(this).data('card-id');
	    	if (ownedCards.includes(cardId)){
	    		$(this).text(collection[cardId]); 
	    	}
	    });
	
	    // Aggiungi carta alla collezione
	    $('.add-to-collection').click(function () {
	        var cardId = $(this).data('card-id');
	        $.post('/collection/add', { cardId: cardId })
	            .done(function (data) {
	                Toast.fire({
	                    icon: "success",
	                    title: toastTranslations.addSuccess
	                });
	                setTimeout(function () {
	                    location.reload();  // Ricarica la pagina per aggiornare il numero di carte possedute
	                }, 1500);
	            })
	            .fail(function () {
	            	Toast.fire({
	                    icon: "error",
	                    title: toastTranslations.addError 
	                });
	            });
	    });
	
	    // Rimuovi carta dalla collezione
	    $('.remove').click(function (event) {
	        event.preventDefault(); // Impedisce il comportamento predefinito del link
	        var cardId = $(this).data('card-id');
	        
	        if (ownedCards.includes(cardId)){
	        $.post('/collection/remove', { cardId: cardId })
	            .done(function (data) {
	                Toast.fire({
	                    icon: "error",
	                    title: toastTranslations.removeSuccess
	                });
	                setTimeout(function () {
	                    location.reload();  // Ricarica la pagina per aggiornare il numero di carte possedute
	                }, 1500);
	            })
	            .fail(function () {
	            	Toast.fire({
	                    icon: "error",
	                    title: toastTranslations.removeError 
	                });
	            });
	        }
	        else {
	            Toast.fire({
	                    icon: "question",
	                    title: toastTranslations.cardNotPresent 
	                });
	                setTimeout(function () {
	                    //location.reload();  // Ricarica la pagina per aggiornare il numero di carte possedute
	                }, 1500);
	        }
	    });
	});
	    </script>
<script>
	//Mostra la pagina della collezione personale
	 document.addEventListener("DOMContentLoaded", function () {
	     // Ottieni l'URL della pagina
	     const urlParams = new URLSearchParams(window.location.search);
	     const fromCollection = urlParams.get('from');
	  	
	     // Cambia il titolo della pagina solo se 'from=myCollection' è presente
	     if (fromCollection === 'myCollection') {
	         document.title = "Collezione";
	         document.querySelector("h1").textContent = "Collezione";
	
	         // Nascondi il filtro per le carte "owned"
	         const ownedFilter = document.getElementById('owned-filter');
	         if (ownedFilter) {
	             ownedFilter.style.display = 'none';
	         }
	     }
	 });
	
	 function resetFilters(){
	    var ownedField = document.getElementById('owned').value;
	    document.getElementById('filter').reset();
	    setTimeout(function() {
	    	const urlParams = new URLSearchParams(window.location.search);
	    	const fromCollection = urlParams.get('from');
	        if (fromCollection === 'myCollection') {
	        	document.getElementById('owned').checked = ownedField;
	        }
	      }, 0);
	 }

	    document.getElementById('filter').addEventListener('submit', function() {
	        var type1 = document.getElementById('types1').value;
	        var type2 = document.getElementById('types2').value;
	        var types = type1 && type2 ? type1 + ',' + type2 : (type1 || type2);
	        document.getElementById('types').value = types;
	    });
	
	  
	    document.addEventListener("DOMContentLoaded", function() {
	        const toggleButton = document.getElementById('toggleGray');
	        let grayCardsVisible = true;  // Inizialmente le carte non possedute sono grigie

	        toggleButton.addEventListener('click', function() {
	            const notOwnedCards = document.querySelectorAll('.card.not-owned');

	            notOwnedCards.forEach(card => {
	                if (grayCardsVisible) {
	                    // Rimuove lo stato grigio (mostra normalmente)
	                    card.classList.remove('not-owned');
	                } else {
	                    // Aggiunge lo stato grigio
	                    card.classList.add('not-owned');
	                }
	            });

	            // Inverte lo stato (attiva/disattiva)
	            grayCardsVisible = !grayCardsVisible;

	            // Cambia il testo del pulsante per riflettere l'azione
	            toggleButton.textContent = grayCardsVisible ? 'Nascondi carte non possedute' : 'Mostra carte non possedute';
	        });
	    });
	

</script>
<script src="/script/script_cards.js"></script>
<script src="/script/traduzioni.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<!-- End script -->
<!-- End of Body -->
</body>
</html>
